---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h1 style="text-align: center;">
    Open-Source software to monitor ICU beds availability during the Covid-19
    outbreak in France
  </h1>

  <div style="text-align: center;">
    <img src="assets/images/map.jpg" />
  </div>
  <hr>
  <div style="text-align: center;">
    <img src="assets/images/workflow_icubam.png" />
  </div>
  <br>
  <hr>
  <br>
  <div style="text-align: center;">
    <h3>brought to you by</h3>
    <img src="/assets/images/inria-small.png" height="90px" />

    <img src="/assets/images/x-small.png" height="90px" />

    <img src="/assets/images/udl-small.png" height="60px" />

    <img src="/assets/images/chru_nancy-small.png" height="60px" />
  </div>

</div>
